@font-face {
  font-family: 'runes';
  src:  url('../../public/fonts/runes.eot?vb2yvy');
  src:  url('../../public/fonts/runes.eot?vb2yvy#iefix') format('embedded-opentype'),
    url('../../public/fonts/runes.ttf?vb2yvy') format('truetype'),
    url('../../public/fonts/runes.woff?vb2yvy') format('woff'),
    url('../../public/fonts/runes.svg?vb2yvy#runes') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rune-"], [class*=" rune-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'runes' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rune-Eld:before {
  content: "\e900";
}
.rune-Tir:before {
  content: "\e901";
}
.rune-El:before {
  content: "\e902";
}
